/* extend css file */
@use './base/css-reset';
@use './components/navbar-app';

/* font api */
@import url('https://api.fontshare.com/v2/css?f[]=satoshi@700,500,300,401,901,400&f[]=general-sans@701,601,700&display=swap');
/* font-family: 'Satoshi', sans-serif;
font-family: 'General Sans', sans-serif; */

body {
  background-color: slateblue;
  font-family: 'General Sans', sans-serif;
}

ul {
  list-style: none;
}
