/* extend css file */
@use './base/css-reset';
@use './components/navbar-app';

/* font api */
@import url('https://api.fontshare.com/v2/css?f[]=satoshi@700,500,300,401,901,400&f[]=general-sans@701,601,700&display=swap');
/* font-family: 'Satoshi', sans-serif;
font-family: 'General Sans', sans-serif; */

$color-Light-shades: #E4DCEA;
$color-Light-accent: #737EAF;
$Main-brand-color: #3770CD;
$color-Dark-accent: #322D69;
$color-Dark-shades: #1D1B43;

body {
  background-color: $color-Dark-accent;
  font-family: 'General Sans', sans-serif;
  overflow-x: hidden;
}
