/* font api */
@import url('https://api.fontshare.com/v2/css?f[]=satoshi@700,500,300,401,901,400&f[]=general-sans@701,601,700&display=swap');
/* font-family: 'Satoshi', sans-serif;
font-family: 'General Sans', sans-serif; */

$color-dark: #191919;
$color-secondary: #717171;
$color-Light-shades: #e4dcea;
$color-Light-accent: #737eaf;
$Main-brand-color: #3770cd;
$color-Dark-accent: #322d69;
$color-Dark-shades: #1d1b43;

$font-satoshi: 'Satoshi', sans-serif;
$font-general: 'General Sans', sans-serif;

body {
  margin: 0;
  font-family: $font-general;
  background-color: $color-Light-shades;
  color: $color-dark;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
  margin: 0;
}

a {
  text-decoration: none;
  color: $color-Dark-accent;
}

button,
input,
select {
  outline: none;
  border: none;
}
